<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <title>Agenda de Boletos</title>
</head>
<body>
    <div class="agenda">
        <div class="links">
            <ul>
                <li><a id="index"  href="{{ url_for('index') }}" >Agenda</a></li>
                <li><a id="new" href="{{ url_for('cadastrar_boleto') }}">Novo Boleto</a></li>
                <li><a id="pagos" href="{{ url_for('boletos_pagos') }}">Pagos</a></li>
                <li><a id="configuracao" href="{{ url_for('configuracoes') }}">Configuração</a></li>
            </ul>
        </div>

    {% block content %}
    {% endblock %}