{% extends "base/_head.html" %}

{% block content %}

    <div class="content">

        <div class="container__form">

            <h1 class="titulo">Você ainda não possui email cadastrado...</h1>
            <p>Adicione um email para receber notificacoes</p>
            <form action="/add_email" method="POST">
    
                <div class="form__item">
                    <label for="email">Cadastrar Email:</label>
                    <input class="text" name="email">
                    <input type="submit" value="Salvar" class="tabela__link g">
                </div>
            
            </form>

        </div>

    </div>
</body>
</html>

{% endblock %}