{% extends "base/_head.html" %}

{% block content %}

    <div class="content">
        <h1>ALERTA DE EMAIL!!!!</h1>
        
        <div style="padding: 10px 0;">
            <a href="{{ url_for('index')}}" class="tabela__link b">Voltar</a>
        </div>
    </div>

    <script>
        // Cores de fundo para alternar
        var coresDeFundo = ["#FF0000", "#FF8C00", "#FFFF00"];
        var indiceCorAtual = 0;

        function mudarCorDeFundo() {
            // Obtém o elemento com o ID "alertBox"
            var elemento = document.getElementById("alertBox");

            // Define a próxima cor de fundo
            elemento.style.backgroundColor = coresDeFundo[indiceCorAtual];

            // Atualiza o índice para a próxima cor
            indiceCorAtual = (indiceCorAtual + 1) % coresDeFundo.length;
        }

        // Chama a função para mudar a cor de fundo a cada segundo (1000 milissegundos)
        setInterval(mudarCorDeFundo, 500);
    </script>
</body>
</html> 

{% endblock %}