{% extends "base/_head.html" %}

{% block content %}

        <div class="container">
            <br>
            <p>Total de Boletos Pagos: 77777</p>
            <table> 
                {% for boleto in boletos %}
                <thead>
                    <tr>
                        <th>Identificacao</th>
                        <th>Vencimento</th>
                        <th>Alerta</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ boleto.nome }}</td>
                        <td>{{ boleto.vencimento }}</td>
                        <td>{{ boleto.alerta_email }}</td>
                        <td>{{ boleto.valor}}</td>
                        <td>
                            <a class="tabela__link r" href="/excluir/{{ boleto.id }}">Excluir</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>

    </div>
</body>
<script src="../static/scripts.js"></script>
</html>

{% endblock %}