{% extends "base/_head.html" %}

{% block content %}

        <div class="container__form">
            <h1 class="titulo">Configurações</h1>
            <form action="" method="POST">
                <p>Email Atual: aaaa</p>
                <input type="text" id="identificacao" name="identificacao" placeholder="Insira um Email" required><br><br>
                <input type="submit" class="button" value="Adicionar Boleto">
            </form>
        </div>

    </div>
</body>
<script src="../static/scripts.js"></script>
</html>

{% endblock %}