{% extends "base/_head.html" %}

{% block content %}

    <div class="content">
        <h1>Configurações</h1>
        <p>Email Cadastrado: {{ email }}</p>
        <form action="/configuracoes" method="post">

            <div class="form__item">
                <label for="email">Cadastrar outro Email:</label>
                <input class="text" name="email">
                <input type="submit" value="Salvar" class="tabela__link g">
            </div>
        
        </form>
        <div style="padding: 10px 0;">
            <a href="{{ url_for('index')}}" class="tabela__link b">Voltar</a>
        </div>
    </div>
</body>
</html>

{% endblock %}
