{% extends "base/_head.html" %}

{% block content %}
    <div class="content">
        <div class="container__form">
            <h1 class="titulo">Editar Boleto: {{ boleto.nome }}</h1>

            <form action="/editar/{{ boleto.id }}" method="post">
                <div class="form__item">
                    <label for="">Identificação:</label>
                    <input type="text" name="nome" value="{{ boleto.nome }}"> 
                </div>
    
                <div class="form__item">
                    <label for="">Valor:</label>
                    <input type="number" name="valor" value="{{ boleto.valor }}">
                </div>
    
                <div class="form__item">
                    <label for="">Vencimento:</label>
                    <input type="date" name="vencimento" value="{{ boleto.vencimento }}">
                </div>
    
                <div class="form__item">
                    <label for="">Data Alerta por Email:</label>
                    <input type="date" name="alerta_email" value="{{ boleto.alerta_email }}">
                </div>
    
                <div class="form__item">
                    <a href="{{ url_for('index') }}" class="tabela__link b">Voltar</a>
                    <input type="submit" class="tabela__link g" value="Salvar">
                </div>
    
            </form>
        </div>
    </div>
{% endblock %}
