<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Boletos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="menu">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('boletos_pagos') }}">Boletos Pagos</a>
        <a href="{{ url_for('cadastrar_boleto') }}">Adicionar Boleto</a>
        <a href="">Configurações</a>
    </div>
    <div class="content">
        <h1>Agenda de Boletos</h1>
        <p>Total de Boletos para Pagar: {{ valorTotal }} </p>
        <table> 
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Vencimento</th>
                    <th>Alerta</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for boleto in boletos %}
                <tr>
                    <td>{{ boleto.nome }}</td>
                    <td>{{ boleto.vencimento }}</td>
                    <td>{{ boleto.alerta}}</td>
                    <td>{{ boleto.valor}}</td>
                    <td>
                        <a class="tabela__link b" href="/editar/{{ boleto.id}}">Editar</a>
                        <a class="tabela__link g" href="/pagar/{{ boleto.id }}">Pagar</a>
                        <a class="tabela__link r" href="/excluir/{{ boleto.id }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
