{% extends "base/_head.html" %}

{% block content %}
        <div class="container">
            {% if boletos %}
            <p class="titulo">Total de Boletos: {{ valorTotal }}</p>
            <table> 
                <thead>
                    <tr>
                        <th>Identificacao</th>
                        <th>Vencimento</th>
                        <th>Alerta</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for boleto in boletos %}
                    <tr>            
                        <td>{{ boleto.nome }}</td>
                        <td>{{ boleto.vencimento }}</td>
                        <td>{{ boleto.alerta_email }}</td>
                        <td>{{ boleto.valor}}</td>                    
                        <td>
                            <a class="tabela__link b" href="/editar/{{ boleto.id}}">Editar</a>
                            <a class="tabela__link g" href="/pagar/{{ boleto.id }}">Pagar</a>
                            <a class="tabela__link r" href="/excluir/{{ boleto.id }}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="h1-centro">
                <h1>Não existem boletos cadastrados!</h1>
            </div>
            {% endif %}
        </div>
    </div>
</body>
<script src="../static/scripts.js"></script>
</html>

{% endblock %}