{% extends "base/_head.html" %}

{% block content %}
    <div class="content">
        <h1>Agenda de Boletos</h1>
        {% if boletos %}
        <table> 
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Vencimento</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                <h2>Boletos Cadastrados</h2>
                <p>Total de Boletos para Pagar: {{ valorTotal }} </p>
                {% for boleto in boletos %}
                <tr>
                    <td>{{ boleto.nome }}</td>
                    <td>{{ boleto.valor}}</td>
                    <td>{{ boleto.vencimento }}</td>
                    <td>
                        <a class="tabela__link b" href="/editar/{{ boleto.id}}">Editar</a>
                        <a class="tabela__link g" href="/pagar/{{ boleto.id }}">Pagar</a>
                        <a class="tabela__link r" href="/excluir/{{ boleto.id }}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Não há boletos Cadastrados!</p>
        {% endif %}
    </div>
</body>
</html>

{% endblock %}
