{% extends "base/_head.html" %}

{% block content %}
        <div class="container">
            {% if boletos %}
            <div class="infos">
                <p>❌ Boleto vencido!</p>
                <p>🔴 Boleto vencendo nos proximos 3 dias!</p>
                <p>🟡 Atenção!</p>
                <p>🟢 Em dia!</p>
            </div>

            <p class="titulo">Total de Boletos: {{ valorTotal }}</p>

            <table> 
                <thead>
                    <tr>
                        <th>Alerta</th>
                        <th>Identificacao</th>
                        <th>Vencimento</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for boleto in boletos %}
                    <tr>
                        <td>{{ boleto.alerta}} </td>
                        <td>{{ boleto.nome }}</td>
                        <td>{{ boleto.vencimento }}</td>
                        <td>{{ boleto.valor}}</td>                    
                        <td>
                            <a class="tabela__link b" href="/editar/{{ boleto.id}}">Editar</a>
                            <a class="tabela__link g" href="/pagar/{{ boleto.id }}">Pagar</a>
                            <a class="tabela__link r" href="/excluir/{{ boleto.id }}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="h1-centro">
                <h1>Não existem boletos cadastrados!</h1>
            </div>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="error_p {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
<script src="../static/scripts.js"></script>
</html>

{% endblock %}